/* Abstracts */

@import '../../styles/abstracts';

$pageheight: calc(100vh - 3.5rem);

/* UI */

#roomsList {
    display: flexbox;
    flex-flow: column nowrap;
    width: 4.5rem; 
    height: 100vh;
    margin: 0;

    padding: 1rem;
    
    background-color: $panel-contrast;

    @media only screen and (max-width: 480px) {
        width: 100vw; 
        height: 4.5rem; 
        flex-flow: row nowrap;

        & .room-icon-wrapper {
            margin: 0 .25rem;
        }
    }
}

.room-icon-wrapper {
    width: 2.5rem; height: 2.5rem;
    padding: 0; margin: .25rem 0;
    background: transparent;
    border: none;
}

.room-icon {
    display: flexbox;
    flex-flow: row nowrap;
    align-content: center; justify-content: center;
    width: 2.5rem; height: 2.5rem;
    padding: 0; margin: 0;
    border-radius: 1rem;
    border: 0;
    outline: none;

    background: $btn-primary;

    font-size: x-large;
    text-transform: capitalize;
    line-height: 2.5rem;
    font-weight: 800;

    & > * {
        padding: 0; margin: 0;
    }

    &:hover, &:active {
        background: $btn-primary-hover;
        box-shadow: $shallow;
    }
}

.room-icon.new-room-icon {
    padding: 0;
    display: flexbox;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.05);
    border: 0;
    color: $player-blue-light;

    &:hover { 
        background: rgba($player-blue, 0.3);
    }
    &:focus, &:active, &.show {
        background: rgba($player-blue, 0.5) !important;
        box-shadow: $deep !important;
    }

    &::after { content: none; }
}

.show .room-icon.new-room-icon {
    background: rgba($player-blue, 0.5) !important;
    box-shadow: $deep !important;
}

.new-room-dropout {
    left: 0 !important;
    box-shadow: $deep;
    color: $player-purple;
    & .dropdown-item:hover {
        background: rgba($player-blue, 0.1);
    }

    .action-icon {
        position: relative;
        top: 2px;
        height: .875rem;
        margin-right: .5rem;
        vertical-align: baseline;
    }
}