@import '../../styles/_abstracts.scss';

/* Reset */
.container, .container-fluid {
    width: 100% !important;
    padding: 0; margin: 0 !important;
}

div.row, div.col {
    margin: 0;
    padding: 0;
}

/* UI */

#roomList-wrapper {
    flex: 0 0 4.5rem;
    padding: 0; margin: 0;

    &, & * {
        box-sizing: border-box;
    }

    @media only screen and (max-width: 640px) {
        flex-flow: row nowrap;
    }
}


#roomname-wrapper.row {
    display: flexbox;
    flex-flow: row nowrap;
    align-content: baseline;
    justify-content: flex-start;

    flex: 0 0 auto;
    height: $titlebarheight;
    margin: 0; padding: 0 1rem;

    background: $panel-background;
    border-bottom: $ui-border;

    color: $player-purple;
}

#roomname {
    display: block;
    flex: 0 0 auto;
    height: $titlebarheight;
    margin: 0; padding: 0;
    line-height: $titlebarheight;

    @include ui-heading('m');
}

#participants-wrapper {
    flex: 0 0 auto;
    width: 12rem;
    height: $pageheight;
    background: $panel-background;
    border-left: $ui-border;
}

.check-requests-wrapper {
    background: none;
    border: none;
}
.check-requests-button {
    border-radius: 0;
    background-color: $btn-primary;
    border: $ui-border;

    &:hover { 
        background: $btn-primary-hover;
        box-shadow: $shallow;
        transition: $transition-quick;
    }
}