@import '../../styles/abstracts';

.song-history-container {
  position: absolute;
  right: 0;
  top: 1rem;
}

.song-history-wrapper {
  &, &>button {
    background: transparent !important;
    border: none !important;
  }

  &>button>svg {
    fill: $player-blue;
  }

  &::after {
    content: none;
  }
}

.song-history-stats-wrapper {
  border: $ui-border;
  box-shadow: $deep;
}

.song-history-stats {
  &:hover {
    background-color: rgba($player-blue, 0.2);
  }
  span:last-of-type {
    font-weight: 700;
    margin-left: 1rem;
  }
}