/* Abstracts */
@import '../../styles/abstracts';

.ui-header {
    @include ui-heading('sm');

    margin: 1rem;
}

.participant-icon, .participant-icon span {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 .5rem; margin: 0;
    height: 2.5rem;

    background: transparent;
    border: none;

    font-size: 1rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: rgba($player-purple, 0.7);
    transition: $transition-quick;
}

.participant-icon:hover {
    background: rgba($player-blue,0.1);
    transition: $transition-quick;
}